@import "tailwindcss";



html,body{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}



@font-face {
    font-family: "billiondream";
    src: url(./assets/font-file/BillionDreams_PERSONAL.ttf);
}



@font-face {
    font-family: "lemonregular";
    src: url(./assets/font-file/LEMONMILK-Regular.ttf);
}
@font-face {
    font-family: "lemonmedium";
    src: url(./assets/font-file/LEMONMILK-Medium.ttf);
}

@font-face {
    font-family: "lekas";
    src: url(./assets/font-file/LLekasSans.ttf);
}
@font-face {
    font-family: "tango";
    src: url(./assets/font-file/TangoSans.ttf);
}


/* blob animations */
.blob{
    border-radius: 50%;
    background: conic-gradient(from  180deg,rgba(255, 120, 180, 0.9),
    rgba(255, 255, 120, 0.9),
    rgba(255, 230, 140, 0.85),
    rgba(160, 210, 255, 0.9),
    rgba(180, 140, 255, 0.9),
    rgba(255, 120, 180, 0.9)
);
    animation: blobrotation 10s linear infinite;
      filter: saturate(1.1);

}

@keyframes blobrotation{
    from{
        transform: rotate(0deg) scale(2);
    }
    to{
        transform: rotate(1turn) scale(2);
    }
}

/* simple preloader animation */

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}


.animate-bounce {
  animation: bounce 1.2s infinite;
}


.delay-0 {
  animation-delay: 0s;
}

.delay-150 {
  animation-delay: 0.15s;
}

.delay-300 {
  animation-delay: 0.3s;
}
